# Bank Customer Churn Model

The case study is from an open-source dataset from Kaggle. 

Link to the Kaggle project site:

https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling

Given a Bank customer, can we build a classifier that can determine whether they will leave or not using Neural networks?

In [1]:
%tensorflow_version 2.x

TensorFlow 2.x selected.

In [0]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

from sklearn.metrics import confusion_matrix

from sklearn.metrics import accuracy_score

In [3]:
#df = pd.read_csv("bank.csv")
import io
from google.colab import files
uploaded = files.upload()

df = pd.read_csv(io.BytesIO(uploaded['bank.csv']))

Saving bank.csv to bank (4).csv

1. Read the Dataset

In [4]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

2. Drop the columns which are unique for all users like IDs

In [0]:
df.drop(columns = ['RowNumber','CustomerId','Surname'], axis = 1, inplace = True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

3. Distinguish the feature and target set

In [0]:
#Feature set
X = df.drop("Exited", axis = 1)

#Target set
y = df[["Exited"]]

In [0]:
# Encoding categorical (string based) data. Country: there are 3 options: France, Spain and Germany
# This will convert those strings into scalar values for analysis

label_encoder = LabelEncoder()

X['Geography'] = label_encoder.fit_transform(X['Geography'])

In [0]:
# Encoding categorical (string based) data. Gender: there are 2 options: Male and Female
# This will convert those strings into scalar values for analysis

X['Gender'] = label_encoder.fit_transform(X['Gender'])

In [12]:
X.head(10)

   CreditScore  Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619          0       0  ...          1               1        101348.88
1          608          2       0  ...          0               1        112542.58
2          502          0       0  ...          1               0        113931.57
3          699          0       0  ...          0               0         93826.63
4          850          2       0  ...          1               1         79084.10
5          645          2       1  ...          1               0        149756.71
6          822          0       1  ...          1               1         10062.80
7          376          1       0  ...          1               0        119346.88
8          501          0       1  ...          0               1         74940.50
9          684          0       1  ...          1               1         71725.73

[10 rows x 10 columns]

4.  Divide the data set into training and test sets

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

5.  Normalize the train and test data

In [0]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

6. Initialize & build the model

In [0]:
model = Sequential()

In [0]:
model.add(Dense(5, input_dim = 10, activation ='relu'))
model.add(Dense(5, activation ='relu'))
model.add(Dense(1, activation ='sigmoid'))

In [0]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [23]:
model.fit(X_train, y_train, epochs = 80, batch_size = 10)

Train on 8000 samples
Epoch 1/80
8000/8000 [==============================] - 1s 153us/sample - loss: 0.3463 - accuracy: 0.8593
Epoch 2/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3463 - accuracy: 0.8589
Epoch 3/80
8000/8000 [==============================] - 1s 152us/sample - loss: 0.3457 - accuracy: 0.8571
Epoch 4/80
8000/8000 [==============================] - 1s 150us/sample - loss: 0.3461 - accuracy: 0.8586
Epoch 5/80
8000/8000 [==============================] - 1s 151us/sample - loss: 0.3454 - accuracy: 0.8576
Epoch 6/80
8000/8000 [==============================] - 1s 147us/sample - loss: 0.3449 - accuracy: 0.8579
Epoch 7/80
8000/8000 [==============================] - 1s 149us/sample - loss: 0.3436 - accuracy: 0.8597
Epoch 8/80
8000/8000 [==============================] - 1s 153us/sample - loss: 0.3436 - accuracy: 0.8594
Epoch 9/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3431 - accuracy: 0.8589
Epoch 10/80
8000/8000 [==============================] - 1s 154us/sample - loss: 0.3427 - accuracy: 0.8591
Epoch 11/80
8000/8000 [==============================] - 1s 147us/sample - loss: 0.3421 - accuracy: 0.8589
Epoch 12/80
8000/8000 [==============================] - 1s 152us/sample - loss: 0.3413 - accuracy: 0.8609
Epoch 13/80
8000/8000 [==============================] - 1s 149us/sample - loss: 0.3414 - accuracy: 0.8612
Epoch 14/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3411 - accuracy: 0.8614
Epoch 15/80
8000/8000 [==============================] - 1s 155us/sample - loss: 0.3407 - accuracy: 0.8610
Epoch 16/80
8000/8000 [==============================] - 1s 146us/sample - loss: 0.3410 - accuracy: 0.8616
Epoch 17/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3404 - accuracy: 0.8625
Epoch 18/80
8000/8000 [==============================] - 1s 149us/sample - loss: 0.3401 - accuracy: 0.8609
Epoch 19/80
8000/8000 [==============================] - 1s 147us/sample - loss: 0.3406 - accuracy: 0.8597
Epoch 20/80
8000/8000 [==============================] - 1s 149us/sample - loss: 0.3401 - accuracy: 0.8611
Epoch 21/80
8000/8000 [==============================] - 1s 149us/sample - loss: 0.3406 - accuracy: 0.8610
Epoch 22/80
8000/8000 [==============================] - 1s 146us/sample - loss: 0.3400 - accuracy: 0.8606
Epoch 23/80
8000/8000 [==============================] - 1s 156us/sample - loss: 0.3404 - accuracy: 0.8618
Epoch 24/80
8000/8000 [==============================] - 1s 150us/sample - loss: 0.3399 - accuracy: 0.8618
Epoch 25/80
8000/8000 [==============================] - 1s 154us/sample - loss: 0.3400 - accuracy: 0.8600
Epoch 26/80
8000/8000 [==============================] - 1s 150us/sample - loss: 0.3399 - accuracy: 0.8614
Epoch 27/80
8000/8000 [==============================] - 1s 145us/sample - loss: 0.3402 - accuracy: 0.8595
Epoch 28/80
8000/8000 [==============================] - 1s 154us/sample - loss: 0.3399 - accuracy: 0.8604
Epoch 29/80
8000/8000 [==============================] - 1s 156us/sample - loss: 0.3402 - accuracy: 0.8622
Epoch 30/80
8000/8000 [==============================] - 1s 154us/sample - loss: 0.3400 - accuracy: 0.8590
Epoch 31/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3402 - accuracy: 0.8618
Epoch 32/80
8000/8000 [==============================] - 1s 153us/sample - loss: 0.3395 - accuracy: 0.8608
Epoch 33/80
8000/8000 [==============================] - 1s 147us/sample - loss: 0.3397 - accuracy: 0.8605
Epoch 34/80
8000/8000 [==============================] - 1s 149us/sample - loss: 0.3393 - accuracy: 0.8610
Epoch 35/80
8000/8000 [==============================] - 1s 144us/sample - loss: 0.3396 - accuracy: 0.8608
Epoch 36/80
8000/8000 [==============================] - 1s 145us/sample - loss: 0.3393 - accuracy: 0.8610
Epoch 37/80
8000/8000 [==============================] - 1s 154us/sample - loss: 0.3399 - accuracy: 0.8583
Epoch 38/80
8000/8000 [==============================] - 1s 147us/sample - loss: 0.3393 - accuracy: 0.8606
Epoch 39/80
8000/8000 [==============================] - 1s 150us/sample - loss: 0.3396 - accuracy: 0.8601
Epoch 40/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3392 - accuracy: 0.8594
Epoch 41/80
8000/8000 [==============================] - 1s 149us/sample - loss: 0.3395 - accuracy: 0.8608
Epoch 42/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3390 - accuracy: 0.8600
Epoch 43/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3399 - accuracy: 0.8609
Epoch 44/80
8000/8000 [==============================] - 1s 152us/sample - loss: 0.3395 - accuracy: 0.8600
Epoch 45/80
8000/8000 [==============================] - 1s 147us/sample - loss: 0.3392 - accuracy: 0.8602
Epoch 46/80
8000/8000 [==============================] - 1s 147us/sample - loss: 0.3395 - accuracy: 0.8583
Epoch 47/80
8000/8000 [==============================] - 1s 146us/sample - loss: 0.3391 - accuracy: 0.8606
Epoch 48/80
8000/8000 [==============================] - 1s 142us/sample - loss: 0.3392 - accuracy: 0.8590
Epoch 49/80
8000/8000 [==============================] - 1s 145us/sample - loss: 0.3385 - accuracy: 0.8604
Epoch 50/80
8000/8000 [==============================] - 1s 155us/sample - loss: 0.3393 - accuracy: 0.8587
Epoch 51/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3390 - accuracy: 0.8614
Epoch 52/80
8000/8000 [==============================] - 1s 149us/sample - loss: 0.3388 - accuracy: 0.8596
Epoch 53/80
8000/8000 [==============================] - 1s 150us/sample - loss: 0.3394 - accuracy: 0.8608
Epoch 54/80
8000/8000 [==============================] - 1s 153us/sample - loss: 0.3391 - accuracy: 0.8585
Epoch 55/80
8000/8000 [==============================] - 1s 147us/sample - loss: 0.3385 - accuracy: 0.8619
Epoch 56/80
8000/8000 [==============================] - 1s 143us/sample - loss: 0.3395 - accuracy: 0.8601
Epoch 57/80
8000/8000 [==============================] - 1s 144us/sample - loss: 0.3392 - accuracy: 0.8606
Epoch 58/80
8000/8000 [==============================] - 1s 151us/sample - loss: 0.3393 - accuracy: 0.8599
Epoch 59/80
8000/8000 [==============================] - 1s 150us/sample - loss: 0.3388 - accuracy: 0.8626
Epoch 60/80
8000/8000 [==============================] - 1s 153us/sample - loss: 0.3389 - accuracy: 0.8606
Epoch 61/80
8000/8000 [==============================] - 1s 145us/sample - loss: 0.3390 - accuracy: 0.8593
Epoch 62/80
8000/8000 [==============================] - 1s 146us/sample - loss: 0.3391 - accuracy: 0.8618
Epoch 63/80
8000/8000 [==============================] - 1s 145us/sample - loss: 0.3389 - accuracy: 0.8601
Epoch 64/80
8000/8000 [==============================] - 1s 150us/sample - loss: 0.3392 - accuracy: 0.8612
Epoch 65/80
8000/8000 [==============================] - 1s 147us/sample - loss: 0.3389 - accuracy: 0.8591
Epoch 66/80
8000/8000 [==============================] - 1s 150us/sample - loss: 0.3390 - accuracy: 0.8604
Epoch 67/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3389 - accuracy: 0.8583
Epoch 68/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3385 - accuracy: 0.8606
Epoch 69/80
8000/8000 [==============================] - 1s 147us/sample - loss: 0.3394 - accuracy: 0.8572
Epoch 70/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3383 - accuracy: 0.8595
Epoch 71/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3384 - accuracy: 0.8612
Epoch 72/80
8000/8000 [==============================] - 1s 143us/sample - loss: 0.3385 - accuracy: 0.8600
Epoch 73/80
8000/8000 [==============================] - 1s 150us/sample - loss: 0.3392 - accuracy: 0.8593
Epoch 74/80
8000/8000 [==============================] - 1s 148us/sample - loss: 0.3386 - accuracy: 0.8587
Epoch 75/80
8000/8000 [==============================] - 1s 147us/sample - loss: 0.3387 - accuracy: 0.8593
Epoch 76/80
8000/8000 [==============================] - 1s 150us/sample - loss: 0.3383 - accuracy: 0.8597
Epoch 77/80
8000/8000 [==============================] - 1s 149us/sample - loss: 0.3393 - accuracy: 0.8584
Epoch 78/80
8000/8000 [==============================] - 1s 154us/sample - loss: 0.3394 - accuracy: 0.8602
Epoch 79/80
8000/8000 [==============================] - 1s 152us/sample - loss: 0.3388 - accuracy: 0.8596
Epoch 80/80
8000/8000 [==============================] - 1s 151us/sample - loss: 0.3391 - accuracy: 0.8600

7. Predict the results using 0.5 as a threshold

In [0]:
predict = model.predict(X_test)
predict = predict > 0.5

8. Print the Accuracy Score and Confusion Matrix

In [0]:
matrix = confusion_matrix(y_test, predict)

In [26]:
print("Confusion Martix:")
matrix

Confusion Martix:

array([[1535,   50],
       [ 224,  191]])

In [27]:
accuracy = accuracy_score(y_test, predict)
print("Accuracy Score: ", accuracy)

Accuracy Score:  0.863